.title {
  font-family: Iceland;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.wrapper {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_type_main_large {
  font-family: 'Jet Brains Mono';
    font-size: 36px;
    font-weight: bold;
    line-height: 1.1;
}
